.settings .setting_section {
  border-top: 1px solid #f7f7f7;
  padding: 30px 0px;
}

.setting-list_setting .setting_icon {
  font-size: 20px;
  margin-right: 20px;
}

.setting-list_setting .setting_title {
  font-size: 22px;
}

.settings .setting-list_setting {
  margin-bottom: 20px;
}

.settings .setting-list_setting:last-child {
  margin-bottom: 0px;
}
