body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.box {
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: static;
}
.father {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.abs_box {
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: relative;
}

.abs_child {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
}

#boxOne {
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: static;
}

#boxTwo {
  background-color: green;
  width: 200px;
  height: 200px;
  position: fixed;
}

.inside-box {
  background-color: blue;
  width: 50%;
  height: 50%;
}
